// compileCompressed: ../css/$1.min.css

#smuAddonFBHeader
  background-color: #f6f7f9
  //  style="background-color:#f6f7f9; padding:0.5em; border:solid 1px #dddfe2"
  padding: 0.5em
  border: solid 1px #dddfe2
  // text-align: center

#smuAddonFBBody
  //  style="padding:0.2em 0 1.5em 0.8em"
  padding: 0.2em 0 1.5em 0.8em
  border-left: solid  1px #dddfe2
  border-bottom: solid  1px #dddfe2
  border-right: solid  1px #dddfe2
  margin-bottom: 1em

  strong
    display: inline-block
    padding-top: 0.5em
